################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SingletonDP/FileContentIndex
/.vs/SingletonDP/v17
/SingletonDP/bin/Debug/net8.0
